[data-role=page]{
    background: white !important;   
}
#round_header DIV {
    clear:none;
    float: left;
    background: blue;
    width: 33%;
    height: 30px;
}
#round {
    clear: both;
    width: 100%;
    height: 100px;
}
#text_area {
    font-size: 2em;
}
.key{
    clear: none;
    float: left;
    height: 35px;
    text-align: center;
    padding-top: 15px;
}
#go_button {
    width: 35px;    
}
#del_button {
    width: 35px;
    height: 25px;
}
.mask {
    display: block;
    position: relative;
    top: -33px;
    bottom: 0;
    width: 100%;
    height: 50px;  
    background: blue;
    opacity: .5;
}

#row1, #row2, #row3 {
    clear: both;
}
